@tailwind components;
@tailwind base;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;

    --info: 218 81% 59%;
    --info-foreground: 0 0% 98%;

    --success: 120 100% 50%;
    --success-foreground: 120 100% 50%;

    --warning: 48 100% 50%;
    --warning-foreground: 48 100% 50%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    --highlight-color: 240, 88%, 65%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --padding: 0.75rem;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --info: 218 81% 59%;
    --info-foreground: 0 0% 98%;

    --warning: 48 100% 50%;
    --warning-foreground: 38 92% 50%;

    --success: 120 100% 50%;
    --success-foreground: 120 100% 50%;

    --info: 218 81% 59%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --highlight-color: 240, 99%, 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground scroll-smooth;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: none;
  }
}

@layer utilities {
  .dot-grid::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: radial-gradient(
      circle,
      transparent 0%,
      /* rgba(255, 255, 255, 0.5) 100%, */ hsl(var(--background, 0.45))
    );
    opacity: 1;
    z-index: 0;
  }
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .gradient-box {
    /* https://www.ibelick.com/blog/create-animated-gradient-borders-with-css */
    @apply flex justify-center items-center animate-gradient-bx overflow-hidden;
    background: linear-gradient(
      var(--angle),
      hsla(var(--background)),
      var(--indigo-500)
    );
  }
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  .sheen {
    background-size: 100% 100%;
    background-position: 0px 0px, 0px 0px, 0px 0px;
    background-image: linear-gradient(45deg, #2f24985c 0%, #2f24985c 81%),
      linear-gradient(139deg, #e8e8e896 0%, #303030ff 100%),
      linear-gradient(195deg, #e8e8e8b5 0%, #303030ff 100%);
  }

  .gradient-card {
    background: linear-gradient(
        309.15deg,
        rgba(72, 75, 87, 0.2) 21.45%,
        rgba(61, 61, 61, 0.044) 38.85%
      ),
      linear-gradient(
        284.25deg,
        rgba(0, 0, 0, 0) 44.37%,
        rgba(0, 0, 0, 0.44) 70.31%
      ),
      linear-gradient(
        123.84deg,
        rgba(37, 43, 57, 0.7) 9.71%,
        rgba(17, 22, 33, 0.7) 90.04%
      ),
      linear-gradient(
        75.33deg,
        rgba(36, 42, 55, 0.72) 18.88%,
        rgba(37, 43, 58, 0.72) 46.47%,
        rgba(70, 70, 70, 0.72) 92.44%
      ),
      #000000;
  }

  .gradient-card-dark {
    background: linear-gradient(
        309.15deg,
        rgba(186, 188, 234, 0.6) 21.45%,
        rgb(167, 165, 238) 38.85%
      ),
      /* linear-gradient(
        284.25deg,
        rgba(65, 72, 117, 0) 44.37%,
        rgba(102, 102, 140, 0.63) 70.31%
      ),
      linear-gradient(
        123.84deg,
        rgba(67, 68, 131, 0.7) 9.71%,
        rgba(46, 52, 104, 0.7) 90.04%
      ),
      linear-gradient(
        75.33deg,
        rgba(72, 83, 142, 0.72) 18.88%,
        rgba(66, 70, 122, 0.72) 46.47%,
        rgba(66, 64, 94, 0.72) 92.44%
      ), */
        #797db5;
  }
  .subtle-surface {
    /* Rectangle 10 */

    background: linear-gradient(
      313.1deg,
      rgba(82, 48, 153, 0.06) 30.31%,
      rgba(127, 77, 233, 0.3) 126.81%
    );
    -webkit-box-shadow: 0px 0px 27px 6px rgba(147, 122, 245, 0.7);
    -moz-box-shadow: 0px 0px 27px 6px rgba(147, 122, 245, 0.7);
    box-shadow: 0px 0px 27px 6px rgba(147, 122, 245, 0.7);
    background-blend-mode: lighten;
    border-radius: 20px;
  }

  .shadow-dark {
    -webkit-box-shadow: 0px 0px 66px 0px rgba(209, 209, 209, 0.37);
    -moz-box-shadow: 0px 0px 66px 0px rgba(209, 209, 209, 0.37);
    box-shadow: 0px 0px 10px 1px rgba(209, 209, 209, 0.37);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

[data-rehype-pretty-code-figure] pre {
  @apply px-0;
}

[data-rehype-pretty-code-figure] code {
  @apply text-sm/6;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] > div > pre > code {
  @apply bg-transparent;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right text-gray-500;
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply border-l-2 border-l-transparent px-3;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-rehype-pretty-code-figure] [data-highlighted-chars] {
  @apply rounded bg-zinc-600/50;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-rehype-pretty-code-figure] [data-chars-id] {
  @apply border-b-2 p-1 shadow-none;
}

[data-rehype-pretty-code-figure] {
  @apply mt-2 text-sm font-medium bg-[#282c34] rounded-lg;
}

[data-rehype-pretty-code-figure] > figcaption {
  background: rgba(200, 200, 255, 0.1);
  @apply px-3 text-sm w-full rounded-t-md;
}
